<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    

</head>
    <body>
        <h1>Welcome</h1>
        <p id="errorsMessage"></p>
        <form id="login_form">
            <input type="email" id="emailInput" email="email" placeholder="Email" />
            <input type="password" id="passwordInput" password="password" placeholder="Password" />
            <button id="submit" type="submit">Login</button>
            <script type="text/javascript" src="login_validation.js" defer></script>


            <h6>Or</h6>
        </form>

        <a href="/signup_page">
            <button id="signUpLinkButton">Create Account</button>
        </a>
        
        
    </body>


</html>