<!DOCTYPE html>
<html>
<head>
    <title>Create An Account</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    
</head>
<body>
    <h1>Sign-Up For an Account</h1>
    <p id="errorsMessage"></p>
    <form id="login_form">
        <input type="text" id="firstNameInput" placeholder="First Name" />
        <br />
        <input type="text" id="lastNameInput" placeholder="Last Name" />
        <br />
        <input type="email" id="emailInput" email="email" placeholder="Email" />
        <br />
        <input type="password" id="passwordInput" password="password" placeholder="Password" />
        <br />
        <input type="password" id="repeatPasswordInput" password="repeatPassword" placeholder="Repeat Password" />
        <br />

        <button id="submit" type="submit">Submit</button>

        <script type="text/javascript" src="login_validation.js" defer></script>

        <p>Already have an Account? <a href="/">Login</a></p>
    </form>

</body>


</html>